*background: #d0d0d0
*cursorColor: #151515
*foreground: #151515

XTerm*allowBoldFonts: false
XTerm*borderWidth: 0
XTerm*colorMode: false
XTerm*faceName: spleen:pixelsize=12:antialias=false
XTerm*fullscreen: true
XTerm*internalBorder: 16
XTerm*locale: false
XTerm*loginShell: true
XTerm*metaSendsEscape: true
XTerm*saveLines: 0
XTerm*scaleHeight: 1.2
XTerm*scrollBar: false
XTerm*termName: xterm
XTerm*utf8: true
